.main-section {
  margin-bottom: 136px;
  background-color: $color-1;

  .main-section__intro-image-mobile {
    z-index: 2;
    width: 100%;
  }

  .main-section__intro-image-desktop {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .main-section__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 496px;

    &:before {
      content: '';
      position: absolute;
      top: -5px;
      left: 0;
      z-index: 1;
      width: 45%;
      height: 100%;
      background:
        url('../images/bg-pattern-intro-left-mobile.svg')
        scroll
        no-repeat
        0 0 / contain;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 33%;
      height: 100%;
      transform: translateY(69%);
      background:
        url('../images/bg-pattern-intro-right-mobile.svg')
        scroll
        no-repeat
        right 0 / contain;
    }
  }

  .main-section__content {
    display: flex;
    justify-content: space-between;
  }

  .main-section__info {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-section__title,
  .main-section__paragraph { color: $color-5; }

  .main-section__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 46px;
    font-size: 46px;
  }
  
  .main-section__paragraph {
    margin-bottom: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    line-height: 26px;
  }

  @include responsive-min-width($medium) {
    .main-section__intro-image-mobile {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
      position: fixed;
    }

    .main-section__wrapper {
      height: 600px;

      &:before {
        content: '';
        top: 72%;
        width: 30%;
        height: 84%;
        background:
          url('../images/bg-pattern-intro-left-desktop.svg')
          scroll
          no-repeat
          0 0 / contain;
      }
      
      &:after {
        content: '';
        top: 0;
        right: 0;
        width: 33%;
        height: 100%;
        transform: translateY(-14%);
        background-image:
          url('../images/bg-pattern-intro-right-desktop.svg');
      }
    }

    .main-section__info {
      position: relative;
      flex-basis: 49%;
      align-items: flex-start;

      &:before {
        content: '';
        display: inline-block;
        width: 150px;
        height: 1px;
        background-color: $color-5;
      }
    }

    .separator { flex-basis: 2% }
    
    .main-section__title {
      margin-top: 60px;
      margin-bottom: 28px;
      font-size: 48px;
      text-align: left;
      line-height: 50px;
    }

    .main-section__paragraph {
      text-align: left;
    }

    .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      flex-basis: 49%;
      position: relative;
    }

    .main-section__intro-image-desktop {
      top: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }

  @include responsive-min-width($large) {
    margin-bottom: 280px;

    .main-section__content { margin-top: -14px; }

    .main-section__intro-image-desktop {
      position: absolute;
      height: auto;
    }
  } 

  @include responsive-min-width($huge) {
    margin-bottom: 300px;

    .main-section__title {
      font-size: 70px;
      line-height: 66px;
    }
  }
}