.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: $color-5;
  box-shadow: 0 -15px 30px 10px $color-4;

  .header_content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo { height: 18px; }

  .header__button {
    width: 32px;
    height: 32px;
    background:
      url('../images/icon-hamburger.svg')
      no-repeat
      0 0 / cover;
  }

  .header__button--active { background: url('../images/icon-close.svg'); }
}