.navigation {
  position: fixed;
  z-index: 9;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  background: 
    $color-3
    url('../images/bg-pattern-mobile-nav.svg')
    scroll
    no-repeat
    0 bottom / contain;
  
  will-change: transform;
  transition: transform 0.4s linear;

  &.navigation--active { transform: translateX(0); }

  .navigation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    margin-top: 48px;
  }
  
  .navigation__link {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-5;
  }
}