:root {
  .button-light,
  .button-dark {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 52px;
    text-align: center;

    @include responsive-min-width($medium) {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 36px;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  .button-light {
    color: $color-5;
    border: 2px solid $color-5;

    &:hover {
      background-color: $color-5;
      color: $color-1;
    }
  }

  .button-dark {
    color: $color-1;
    border: 2px solid $color-1;

    &:hover {
      background-color: $color-1;
      color: $color-5;
    }
  }
}