@font-face {
  font-family: 'DM_Serif_Display';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Karla/Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/Karla/Karla-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src:
    url('../fonts/Karla/Karla-ExtraBold.ttf') format('truetype');
}